/* salvare nella directory del tema frisco */
#header h1 a {
font-size: 1.0em;
text-transform: none;
}
div.pagination {
margin: 0;
}
#activity-stream li:nth-child(odd) {
  background-color:#ddf;
background: #EAEAEA; 
background: -moz-linear-gradient(top, #EAEAEA 0%, #EAEAEA 15%, #D2D3D4 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EAEAEA), color-stop(15%,#EAEAEA), color-stop(100%,#D2D3D4)); 
background: -webkit-linear-gradient(top, #EAEAEA 0%,#EAEAEA 15%,#D2D3D4 100%); 
background: -o-linear-gradient(top, #EAEAEA 0%,#EAEAEA 15%,#D2D3D4 100%); 
background: -ms-linear-gradient(top, #EAEAEA 0%,#EAEAEA 15%,#D2D3D4 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAEAEA', endColorstr='#D2D3D4',GradientType=0 ); 
background: linear-gradient(top, #EAEAEA 0%,#EAEAEA 15%,#D2D3D4 100%);

  
}

#activity-stream {
  border-left: 1px solid #ddd;
  margin-top: 10px;
}
#activity-stream li {
  padding-left: 10px;
}


#header {
	background: none;
    margin-top: 5px;
}

#header #search-bar {
	background: #FFFFFF;
}
#header #search-bar .padder {
	/*background: #FFFFFF url(img/B2B_logoOrizzontale.png) 0 50% no-repeat;*/
	min-height: 80px !important;
}
/* 
 #logo >a {display: none;}
*/
#logo a
{
	display:block;
	width:520px;
	height:70px;
	background:url(img/B2B_logoOrizzontale.png) no-repeat scroll left top transparent;
	text-indent: -9999px;
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 0em;
	border-top: 0em;
	border-right: 0em;
	border-bottom: 0em;
	border-left: 0em;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
}

#header #search-bar input[type="text"]:focus {
	box-shadow: 0 0 10px #CCC;
}
#header #search-bar input[type="text"] {
	border: 1px solid #CCC;
}

.nav-wrap {
	padding: 5px 0;
}

div.item-list-tabs ul li a span {
	background: #444;
}

div.item-list-tabs ul li {
	background: #2BB573;
	border: 1px solid #2BB573;
}

div.item-list-tabs ul li:hover {
	background: #444;
	border-color: #444;
}